<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <style>
    .card {
        background-color: lightgrey;
    }
    .card-body {
        margin: 0 auto;
        text-align: center;
    }
    li {
        text-align: center;
    }
    .btn {
        background: black;
        border: none;
    }
    .list-group-item {
        color: red;
    }
    </style>
</head>
<body>
    <div class="card card-image" style="width: 18rem;">
        <div class="card-body">
            <image class="manicon" src = "Assets\download.png"></image><br>
            <h4 class="card-title">${answers.managerName}</h4>
            <h5 class="card-subtitle mb-2 text-muted">Manager </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">${answers.managerId ?answers.managerId : " "}</li>
          <li class="list-group-item">${answers.managerPhoneNumber ?answers.managerPhoneNumber: " "}</li>
          <li class="list-group-item">${answers.managerEmail ?answers.managerEmail: " "}</li>
        </ul>
      </div>
</body>
</html>
